@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
html, body {
  margin: 0;
  padding: 0;
}

// font base
span {
  &.error {
    color: red;
    font-weight: bold;
  }
}

// else object
.liner {
  width: 0.33rem;
  height: 0.33rem;
  background: #369fff;
  margin: 0.83rem auto;
}

// tags
section {
  top: 0;
  left: 0;
  position: fixed;
}
input {
  padding: 0;
}
input[type=text] {
  height: 2rem;
  background: #f1f1f1;
  border: 0;
}

button {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  padding: 0.33rem 1.5rem;
  background: #369fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: filter ease .3s, box-shadow ease .3s;
  &:hover {
    transition: filter ease .3s, box-shadow ease .3s;
    filter: brightness(120%);
    box-shadow: 0 0 .5rem #369fff;
  }
}