body, html, section.intro-container {
  width: 100%;
}
section.intro-container {
  display: flex;
  background: #fff;
  z-index: 100;
  transition: opacity ease 1s;
  height: 100%;
  position: fixed;
  &.close {
    opacity: 0;
    transition: opacity ease 1s;
    pointer-events: none;
  }
  .contents {
    margin: auto;
    text-align: center;
    .icon {
      &.logo {
        width: 5.33rem;
        height: 5.33rem;
      }
    }
    > div {
      span:first-child {
        color: #000;
        font-weight: bold;
        line-height: 1.5rem;
      }
    }
    .information {
      margin: 1.5rem auto 0.83rem auto;
      span {
        &:last-child {
          color: #999;
        }
      }
      * {
        display: block;
      }
    }
    .question {
      > * {
        display: block;
        margin: 1rem auto;
      }
      &.who-are-you {
        input {
          width: 10.833rem;
          text-align: center;
        }
        .error {
          display: none;
        }
      }
      button {
        margin: auto;
      }
    }
  }
}