section {
  &.main-container {
    width: 100%;
    height: calc(100vh - 3.85rem);
    overflow: auto;
    transition: width ease .5s;
    > .contents {
    }
    > .footer {
      border-top: solid 1px #ccc;
      padding: .833rem;
      display: flex;
      position: fixed;
      box-sizing: border-box;
      width: 100vw;
      bottom: 0;
      background: #fff;
      label {
        width: calc(100% - 10em);
        margin: 0 auto 0 1em;
        input {
          width: 100%;
          background: #fff;
          border-bottom: solid 1px #686868;
          outline: 0;
        }
      }
    }
  }
}